__pycache__

**/*.tsv

# Python
__pycache__/
*.py[cod]
*$py.class

# Large genome files
*.fasta
*.fna
*.fa
*.fastq
*.fq

# BUSCO files (often large)
*.tsv

# Output directories
profile_output/
query_results/
comparison_output/
ragtag_outputs/
output/
stages/

# Data files
*.csv
# *.json
*.agp
*.paf
*.stats

# Compressed files
*.gz
*.bz2
*.zip
*.tar

# Logs
*.log
*.err
*.out

